* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 95%;
}

body {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
}

main {
    width: 100%;
    height: 100vh;
    /* background-color: cadetblue; */
    margin-top: 11px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blanchedalmond;
    padding: 13px;
    border-bottom: 1px solid #ccc;
}

.center ul {
    display: flex;
    list-style: none;
}

.center ul li a {
    padding: 17px;
    text-decoration: none;

}

.right form {
    display: flex;
    gap: 5px;
}

input[type="search"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.container {
    width: 100%;
    min-width: 100%;
    display: flex;
    /* background-color: pink; */
    flex-direction: column;

}

.row {
    width: 100%;
    height: 33.33%;
    /* background-color: lightgreen; */
    display: flex;
    gap: 5px;
}

.row .card {
    width: 25%;
    background-color: rgb(209, 202, 230);
}

.card-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: transparent !important;
    border: 1px solid #ccc;
}

.top {
    width: 100%;
    background-color: black;
    color: rgb(34, 33, 33);
    padding: 8px;
    text-align: center;
    background-color: transparent;
}

.content {
    width: 100%;
    height: 70%;
    /* background-color: linen; */
    color: white;
    text-align: center;
    font-size: 11px;
    padding: 7px;

}

.Footer {
    width: 100%;
    background-color: black;
    color: rgb(34, 33, 33);
    text-align: center;
    padding: 7px;
    font-size: 12px;
    background-color: transparent;
    border-top: 1px solid #ccc;
}

.row-2 {
    margin-top: 12px;
    width: 100%;
    /* background-color: darkcyan; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e7e7e7;
    padding: 17px;
    box-shadow: -2px 3px 10px 4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -3px 3px 10px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 3px 12px 5px rgba(0, 0, 0, 0.75);

}

.box {
    width: 80%;
    /* background-color: blueviolet; */

}
